@import '~bootstrap/scss/bootstrap';
@import './variables';

.text-primary { color: var(--primary) !important; }
.text-secondary { color: var(--secondary) !important; }
.text-success { color: var(--success) !important; }
.text-info { color: var(--info) !important; }
.text-warning { color: var(--warning) !important; }
.text-danger { color: var(--danger) !important; }
.text-light { color: var(--light) !important; }
.text-dark { color: var(--dark) !important; }
.text-white { color: var(--white) !important; }
.text-black { color: var(--black) !important; }

.text-gray-light { color: var(--gray-light) !important; }
.text-gray-1 { color: var(--gray-1) !important; }
.text-gray-2 { color: var(--gray-2) !important; }
.text-gray-3 { color: var(--gray-3) !important; }
.text-gray-4 { color: var(--gray-4) !important; }
.text-gray-5 { color: var(--gray-5) !important; }

.text-yellow-1 { color: var(--yellow-1) !important; }
.text-yellow-2 { color: var(--yellow-2) !important; }
.yellow-icon { color: var(--yellow-icon) !important; }

.bg-primary { background-color: var(--primary) !important; }
.bg-secondary { background-color: var(--secondary) !important; }
.bg-success { background-color: var(--success) !important; }
.bg-info { background-color: var(--info) !important; }
.bg-warning { background-color: var(--warning) !important; }
.bg-danger { background-color: var(--danger) !important; }
.bg-light { background-color: var(--light) !important; }
.bg-dark { background-color: var(--dark) !important; }
.bg-white { background-color: var(--white) !important; }
.bg-black { background-color: var(--black) !important; }

.bg-gray-light { background-color: var(--gray-light) !important; }
.bg-gray-1 { background-color: var(--gray-1) !important; }
.bg-gray-2 { background-color: var(--gray-2) !important; }
.bg-gray-3 { background-color: var(--gray-3) !important; }
.bg-gray-4 { background-color: var(--gray-4) !important; }
.bg-gray-5 { background-color: var(--gray-5) !important; }

.bg-yellow-1 { background-color: var(--yellow-1) !important; }
.bg-yellow-2 { background-color: var(--yellow-2) !important; }
