*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
}

/* Default font size for desktop */
:root {
  --font-size-heading: 36px; 
  --font-size-subheading: 20px;
  --font-size-medium: 18px;
  --font-size-regular:16px;
  --font-size-small:14px;
  --font-size-verysmall:12px;
}
/* Font size for tablet and extended upto 1300px  */
@media (min-width: 768px) and (max-width: 1300px) {
  :root {
    --font-size-heading: 30px;
    --font-size-subheading: 18px;
    --font-size-medium: 16px;
    --font-size-regular: 14px;
    --font-size-small: 12px;
    --font-size-verysmall:8px;
  }
}

/* Font size for mobile */
@media ( max-width: 767px) { 
  :root {
    
    --font-size-heading: 24px; 
    --font-size-subheading: 18px;
    --font-size-medium: 16px;
    --font-size-regular:14px;
    --font-size-small:12px;
    --font-size-verysmall:8px;
  }
}

body{
  color: #263238;
  background-color: #F9FAFF;
  ;
}

.font-heading{
  font-size: var(--font-size-heading);
}
.font-subheading{
font-size: var(--font-size-subheading);
}
.font-medium{
  font-size: var(--font-size-medium);
}
.font-regular {
  font-size: var(--font-size-regular);
}

.font-small{
  font-size: var(--font-size-small);
}

.font-verysmall{
  font-size: var(--font-size-verysmall);
}

.fs_58{
  font-size: 58px;
}

.border-primary-btn{
  border-color: #FFC422;
}



.p_12{
  padding: 12px !important;
}

.service-text-container{
  width: 250px;
}
@media ( max-width: 767px) { 
.service-text-container{
  width: 154px;
}
.service-text{
  font-size: 14px !important;
}
}

.footer-text{
  background-color: #222E34;
  color:#DDDDDD ;
}

.hero-section{
  padding-top: 24px;
}
.border-secondary-btn{
border-color: #CEC6C6;
}

.fs_8{
  font-size: 8px;
}
.discount-badge{
  top: -12px;
  left: calc(100% - 75px);
  transform: translateX(-50%);
}
.workspace-badge{
  top: 8px;
  left: 8px;
  background: linear-gradient(100.27deg, #263238 22.66%, #2F4B59 67.67%);
}

.workspace-image{
  height: 212px;
}
/* only  for mobile */
@media ( max-width: 767px) { 
  .buy-button{
    width: 152px;
  }
}
/* for tablet to desktop */
@media (min-width: 768px) and (max-width: 1300px) {
  .hero-text{
font-size: 20px !important;
  }
  .service-text-container{
    width: 220px;
  }
}
/* for tablet end */


/* above from mobile */
@media (min-width: 768px)  {
.footer-image-container{
margin-top: -130px;
}
.footer-image-card{
  margin-top: 130px;
}
.buy-button{
  width: 200px;
}
.workspace-image{
  height: 270px;
}

}
/* for mobile end */

.map-container {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #ccc;
}
.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}